<div class="login-container">
  <form class="login-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <input formControlName="email" type="email" placeholder="Email" required [ngClass]="{'invalid-input': signupForm.get('email')?.errors}" />
    <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)">
      <p *ngIf="signupForm.get('email')?.errors && signupForm.get('email')?.errors!['required']">Email is required.</p>
      <p *ngIf="signupForm.get('email')?.errors && signupForm.get('email')?.errors!['email']">Please enter a valid email.</p>
    </div>
    <input formControlName="name" type="text" placeholder="Name" />
    <input formControlName="password" type="password" placeholder="Password" required [ngClass]="{'invalid-input': signupForm.get('password')?.errors}" />
    <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)">
      <p *ngIf="signupForm.get('password')?.errors && signupForm.get('password')?.errors!['required']">Password is required.</p>
    </div>
    <input formControlName="birthDate" type="date" placeholder="Birth Date" required [ngClass]="{'invalid-input': signupForm.get('birthDate')?.errors}" />
    <div *ngIf="signupForm.get('birthDate')?.invalid && (signupForm.get('birthDate')?.dirty || signupForm.get('birthDate')?.touched)">
      <p *ngIf="signupForm.get('birthDate')?.errors && signupForm.get('birthDate')?.errors!['required']">Birth date is required.</p>
    </div>
    <div class="buttons">
      <button type="submit">Sign Up</button>
    </div>
    <div class="buttons">
      <button type="reset" (click)="goBack()">Back</button>
    </div>
  </form>
</div>
